/* Header */


.header{
    background-image: url('../images/header.png');
    background-repeat: no-repeat;
    height: 720px;
    background-size: cover;
    background-position: center
}
.navbar-light{
    color: black;
    border-bottom: 1px solid white
}
.svg-inline--fa{
    color:white;
}
.envelope-icon{
    color: white;
    font: normal normal normal 19px Segoe UI;
    left: 15px
}
.phone-icon{
    color: white;
    font: normal normal normal 19px Segoe UI
}
#my-nav{
    align-items: center;
}
.navbar-dark .navbar-nav .nav-link{
color: white;
}
.dropdown .dropdown-menu .dropdown-item{
    color:#5A2F7D;
}
.dropdown-menu {
    border-radius: 20px;
}
.dropdown-toggle:after{
    display:none;
}
.get-quote-button{
    width: 176px;
    height: 56px;
    border-radius: 33px;
    background: transparent linear-gradient(90deg, #FF7B89 0%, #F69C57 100%) 0% 0% no-repeat padding-box;
    border: none
}
.get-quote{
    font: normal normal bold 18px/22px Karla;
    color: #FFFFFF
}
.mx-4{
    position: relative;
    top: 100px
}
.title1{
    color: #FFFFFF;
    font: normal normal 300 60px Gilroy
}
.title2{
    color: #FFFFFF;
    font: normal normal 800 60px Gilroy
}
.content{
    color: #FFFFFF;
    font: normal normal 300 18px Gilroy
}
.container-button{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius:33px;
    width: 400px;
    height: 80px;
    display: table-cell;
    vertical-align: middle
}
.dropdown-title1{
    font: normal normal normal 17px/20px Karla
}
.dropdown-title2{
    font: normal normal normal 17px/20px Karla
}
.container-button .btn-group .go-button{
    border-radius: 33px;
    background: transparent linear-gradient(90deg, #FF7B89 0%, #F69C57 100%) 0% 0% no-repeat padding-box;
    border: none;
    width: 81px;
    height: 46px;
    color: white
}
 .go{
    font: normal normal bold 18px/22px Karla;
    color: #FFFFFF
}
.family-image{
    position: relative;
    left: 10px;
    top: 25px
}




/* Home */

.section2-image{
    background-image:url('../images/section2.png');
    height: 900px;
    background-size: 900px 881px;
    background-position: left;
    background-repeat: no-repeat
}
.section2-text{
    position: relative;
    top: 140px
}
.section2-title1{
    color: #5A2F7D;
    font: normal normal 300 44px/54px Gilroy;
    width: 500px
}
.section2-title2{
    font: normal normal 800 44px/54px Gilroy
}
.section2-content{
    color: #4B4B4B;
    width: 450px;
    height: 200px;
    font: normal normal 300 18px/37px Gilroy
}
.section3-image{
    background-image:url('../images/section3.png');
    background-size: 987px 881px;
    height: 800px;
    background-position: right;
    background-repeat: no-repeat
}
.section3-text{
    position: relative;
    top: 100px;
    left: 50px
}
.section3-title1{
    color: #5A2F7D;
    font: normal normal 300 44px/54px Gilroy;
    width: 400px
}
.section3-title2{
    font: normal normal 800 44px/54px Gilroy;
    color: #5A2F7D
}
.section3-content{
    color: #4B4B4B;
    width: 430px;
    height: 465px;
    font: normal normal 300 18px/37px Gilroy
}
.card-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Gilroy;
    color: #481E6A
}
.card-col1{
    display: flex;
    align-items: center;
    justify-content: center
}
.card-col2{
    display: flex;
    align-items: center;
    justify-content: center
}
.card-col3{
    display: flex;
    align-items: center;
    justify-content: center
}
.card-col4{
    display: flex;
    align-items: center;
    justify-content: center
}
.card-col5{
    display: flex;
    align-items: center;
    justify-content: center
}
.card-col6{
    display: flex;
    align-items: center;
    justify-content: center
}
.card1{
    width: 300px;
    padding: 20px;
    border-radius: 30px
}
.card2{
    width: 300px;
    padding: 20px;
    border-radius: 30px
}
.card3{
    width: 300px;
    padding: 20px;
    border-radius: 30px
}
.card4{
    width: 300px;
    padding: 20px;
    border-radius: 30px
}
.card5{
    width: 300px;
    padding: 20px;
    border-radius: 30px
}
.card6{
    width: 300px;
    padding: 20px;
    border-radius: 30px
}
.card-image1{
    width: 70px;
    height: 70px;
    position: relative;
    top: 10px;
    left:15px
}
.card-image2{
    width: 70px;
    height: 70px;
    position: relative;
    top: 10px;
    left:15px
}
.card-image3{
    width: 70px;
    height: 70px;
    position: relative;
    top: 10px;
    left:15px
}
.card-image4{
    width: 70px;
    height: 70px;
    position: relative;
    top: 10px;
    left:15px
}
.card-image5{
    width: 70px;
    height: 70px;
    position: relative;
    top: 10px;
    left:15px
}
.card-image6{
    width: 70px;
    height: 70px;
    position: relative;
    top: 10px;
    left:15px
}
.card-title1{
    color: #565656;
    text-align: left;
    font-family: Gilroy
}
.card-title2{
    color: #565656;
    text-align: left;
    font-family: Gilroy
}
.card-title3{
    color: #565656;
    text-align: left;
    font-family: Gilroy
}
.card-title4{
    color: #565656;
    text-align: left;
    font-family: Gilroy
}
.card-title5{
    color: #565656;
    text-align: left;
    font-family: Gilroy
}
.card-title6{
    color: #565656;
    text-align: left;
    font-family: Gilroy
}
.card-text1{
    color: #707070;
    text-align:"left";
    font-family:"Gilroy"
}
.card-text2{
    color: #707070;
    text-align:"left";
    font-family:"Gilroy"
}
.card-text3{
    color: #707070;
    text-align:"left";
    font-family:"Gilroy"
}
.card-text4{
    color: #707070;
    text-align:"left";
    font-family:"Gilroy"
}
.card-text5{
    color: #707070;
    text-align:"left";
    font-family:"Gilroy"
}
.card-text6{
    color: #707070;
    text-align:"left";
    font-family:"Gilroy"
}
